<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>CHS CodeCamp - AngularJS - Bootcamp | Charleston, SC</title>

    <meta name="description" content="A bootcamp about AngularJS for Professional Developers">
    <meta name="author" content="Tom Wilson">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/default.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
    <style>
      body {
        background: url("codecamp_logo.png") no-repeat;
        background-color: #4C4C4C;
        background-position: top left;
      }
    </style>
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h1>AngularJS</h1>
          <h3>Bootcamp</h3>
          <p>
            <small>Created by <a href="http://github.com/twilson63">Tom Wilson</a> / <a href="http://twitter.com/twilson63">@twilson63</a></small>
          </p>
        </section>
        <section>
          <h3>Introductions</h3>
          <ul>
            <li>Your Name</li>
            <li>Expectation of the class</li>
            <li>Favorite Programming Language</li>
          </ul>
        </section>
        <section>
          <h3>About Me</h3>
          <ul>
            <li>@twilson63</li>
            <li>Less is more</li>
            <li>&lt;3 the Web</li>
            <li>&lt;3 Coding</li>
            <li>&lt;3 Javascript</li>
          </ul>
        </section>
        <section>
          <h3>About the Mac</h3>
          <ul>
            <li>App Menu is at the top of the screen</li>
            <li>Wifi settings are on the top right</li>
            <li>Instead of Ctrl use Command</li>
            <li>Command-Tab switches apps</li>
          </ul>
        </section>
        <section>
          <h2>Agenda</h2>
          <ul>
            <li>What is AngularJS?</li>
            <li>Using Directives</li>
            <li>Using Filters</li>
            <li>Controllers and Scopes</li>
            <li>More Filters</li>
            <li>Using Services</li>
            <li>Modules</li>
            <li>Form Directives</li>
            <li>Creating Directives</li>
            <li>Unit Testing</li>
            <li>End to End Testing</li>
          </ul>
        </section>
        <section>
          <h2>What is AngularJS?</h2>
          <p class="fragment roll-in">Open Source JavaScript Framework</p>
          <p class="fragment roll-in">HTML Enhanced for Web Apps</p>
          <p class="fragment roll-in">extends HTML vocabulary for your application</p>
        </section>
        <section>
          <section>
            <h2>Using Directives</h2>
          </section>
          <section>
            <p>A directive is how AngularJS extends HTML</p>
          </section>
          <section>
            <pre><code>
&lt;html ng-app&gt;
  ...
&lt;/html&gt;
            </code></pre>
            <p>A directive can be a html attribute</p>
          </section>
          <section>
            <pre><code>
&lt;tabs&gt;
  &lt;pane title=&quot;Tab1&quot;&gt;....&lt;/pane&gt;
  &lt;pane title=&quot;Tab2&quot;&gt;....&lt;/pane&gt;
&lt;/tabs&gt;
            </code></pre>
            <p>A directive can be a html element</p>
          </section>
          <section>
            <pre><code>
&lt;div class=&quot;ng-init: foo=&#x27;bar&#x27;&quot;&gt;&lt;/div&gt;
&lt;div ng-bind=&quot;foo&quot;&gt;&lt;/div&gt;
            </code></pre>
            <p>A directive can be a html class</p>
          </section>
          <section>
            <h2>BootStrap Directive</h2>
            <pre><code>
&lt;html ng-app&gt;
  &lt;body&gt;
    &lt;div ng-init=&quot;name=&#x27;Hello World&#x27;&quot;&gt;&lt;/div&gt;
    &lt;h2&gt;{{name}}&lt;/h2&gt;
    &lt;script src=&quot;//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js&quot;&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
            </code></pre>
            <a href="http://plnkr.co/edit/UYe30FjLGwdiIBKpLHc8?p=preview" target="_new">Example</a>
          </section>
          <section>
            <h2>Bind Directive</h2>
            <pre><code>
&lt;html ng-app&gt;
  &lt;body&gt;
    &lt;div ng-init=&quot;name=&#x27;Hello World&#x27;&quot;&gt;&lt;/div&gt;
    &lt;h2&gt;{{name}}&lt;/h2&gt;
    &lt;div ng-bind=&quot;name&quot;&gt;&lt;/div&gt;
    &lt;script src=&quot;//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js&quot;&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
            </code></pre>
            <a href="http://plnkr.co/edit/UYe30FjLGwdiIBKpLHc8?p=preview" target="_new">Example</a>
          </section>
          <section>
            <h2>Model Directive</h2>
            <pre><code>
&lt;html ng-app&gt;
  &lt;body&gt;
    &lt;input ng-model=&quot;name&quot;&gt;&lt;/input&gt;
    &lt;h2&gt;{{name}}&lt;/h2&gt;
    &lt;script src=&quot;//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js&quot;&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
            </code></pre>
            <a href="http://plnkr.co/edit/UYe30FjLGwdiIBKpLHc8?p=preview" target="_new">Example</a>
          </section>
          <section>
            <h2>REPEAT Directive</h2>
            <pre><code>
&lt;html ng-app&gt;
  &lt;body&gt;
    &lt;div ng-init=&quot;items=[1,2,3,4]&quot;&gt;&lt;/div&gt;
    &lt;div ng-repeat=&quot;item in items&quot;&gt;
      {{item}}
    &lt;/div&gt;
    &lt;script src=&quot;//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js&quot;&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;            
            </code></pre>
            <a href="http://plnkr.co/edit/ZVvnRuYGIw6FW5mEmBJo?p=preview" target="_new">Example</a>
            
          </section>
          <section>
            <h2>Click Directive</h2>
<pre><code>
&lt;html ng-app&gt;
  &lt;body&gt;
    &lt;div ng-init=&quot;items=[1,2,3,4]&quot;&gt;&lt;/div&gt;
    &lt;input placeholder=&quot;enter number&quot; ng-model=&quot;anumber&quot;&gt;
    &lt;button ng-click=&quot;items.push(anumber);anumber=&#x27;&#x27;&quot;&gt;add&lt;/button&gt;
    &lt;div ng-repeat=&quot;item in items&quot;&gt;
      {{item}}
    &lt;/div&gt;
    &lt;script src=&quot;//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js&quot;&gt;&lt;/script&gt;

  &lt;/body&gt;
&lt;/html&gt;  
</code></pre>
          <a href="http://plnkr.co/edit/nKVI8uLbw4KQnhTKbsWA?p=preview" target="_new">Example</a>
          </section>
          <section>
            <h2>Exercise</h2>
            <p>Use the plunker template to create an app that appends user entered colors to a list of colors.</p>
            <a href="http://plnkr.co/edit/Zh98qxVZHPxAftljX7tr?p=preview">Template</a>
          </section>
        </section>
        <section>
          <section>
            <h2>Using Filters</h2>
          </section>
          <section>
            <h2>JSON Filter</h2>
            <pre><code>
&lt;div ng-init=&quot;foo={ text: &#x27;foo&#x27; }&quot;&gt;&lt;/div&gt;
{{foo | json }}
            </code></pre>
            <a href="http://plnkr.co/edit/Ne5ydZWNcvKNDEK5m8zM?p=preview">Example</a>
          </section>
          <section>
            <h2>CASE Filters</h2>
            <pre><code>
&lt;div ng-init=&quot;name='bob'&quot;&gt;&lt;/div&gt;
{{name | uppercase }}
{{name | lowercase }}
            </code></pre>
            <a href="http://plnkr.co/edit/cqZKs68ExAuqm5Jy84Bb?p=preview" target="_new">Example</a>
          </section>
          <section>
            <h2>Date/Currency Filters</h2>
            <pre><code>
&lt;div ng-init=&quot;money=1&quot;&gt;&lt;/div&gt;
&lt;div ng-init=&quot;today=&#x27;2014-02-07&#x27;&quot;&gt;&lt;/div&gt;
&lt;div&gt;{{money | currency}}&lt;/div&gt;
&lt;div&gt;{{today | date:&#x27;fullDate&#x27;}}&lt;/div&gt;
            </code></pre>
            <a href="http://plnkr.co/edit/uVpJaSoKDIiRGKAhMHkn?p=preview" target="_new">Example</a>
          </section>
        </section>
        <section>
          <section>
            <h2>Controllers and Scope</h2>
          </section>
          <section>
            <h2>Lets build a Todo App</h2>
          </section>
          <section>
            <p>Using Angular Controllers, we are able to map a section of html to a AngularJS Scope</p>
            <pre><code>
&lt;div ng-controller=&quot;MainCtrl&quot;&gt;
  ...
&lt;/div&gt;
&lt;script&gt;
  function MainCtrl($scope) {
    
  }
&lt;/script&gt;
            </code></pre>
          </section>
          <section>
            <h2>Step 1: Add Items to List</h2>
            <div><a href="http://plnkr.co/edit/VKo00Rw4cNUu1z2KmOA6?p=preview" target="_new">Template</a></div>
            <div><a href="http://plnkr.co/edit/Rq3l0LdnXaAYu8wcVRU3?p=preview" target="_new">Answer</a></div>
          </section>
          <section>
            <h2>Step 2: Complete Task</h2>
            <p>Strikethrough the task when marked completed</p>
            <div><a href="http://plnkr.co/edit/Rq3l0LdnXaAYu8wcVRU3?p=preview" target="_new">Template</a></div>
            <div><a href="http://plnkr.co/edit/j8x1Dd4XB0FNCZgatsOQ?p=preview" target="_new">Answer</a></div>
          </section>
          <section>
            <h2>Remove Completed</h2>
            <div><a href="http://plnkr.co/edit/j8x1Dd4XB0FNCZgatsOQ?p=preview" target="_new">Template</a></div>
            <div><a href="http://plnkr.co/edit/hMTSkBV8Ix2yvUpijIT0?p=preview" target="_new">Answer</a></div>
          </section>
        </section>
        <section>
          <section>
            <h2>List Filters</h2>
          </section>
          <section>
            <h2>Order By Filter</h2>
            <pre><code>
&lt;li ng-repeat=&quot;item in items | orderBy:{exp}&quot;&gt;&lt;/li&gt;
            </code></pre>
            <p>Sort Random list of names</p>
            <div><a href="http://plnkr.co/edit/syzqjGSBKapRuWvZgwnp?p=preview" target="_new">Template</a></div>
            <div><a href="http://plnkr.co/edit/o3umkHPW2DU5092AYaro?p=preview" target="_new">Answer</a></div>
            <br />
            <h3>Bonus</h3>
            <p>Sort List in descending order</p>
            <div><a href="http://plnkr.co/edit/fXwhgDZJNWdSQDGV8405?p=preview" target="_new">Answer</a></div>
          </section>
          <section>
            <h2>Filter Filter</h2>
            <pre><code>
&lt;li ng-repeat=&quot;item in items | filter:{exp}&quot;&gt;&lt;/li&gt;
            </code></pre>
            <p>Filter a list of Random Names</p>
            <div><a href="http://plnkr.co/edit/syzqjGSBKapRuWvZgwnp?p=preview" target="_new">
            <div><a href="http://plnkr.co/edit/91NFIpAO5PhgtigUaOME?p=preview" target="_new">Answer</a></div>
          </section>
          <section>
            <h2>Limit To Filter</h2>
            <pre><code>
&lt;li ng-repeat=&quot;item in items | limitTo:3&quot;&gt;
            </code></pre>
            <div><a href="http://plnkr.co/edit/syzqjGSBKapRuWvZgwnp?p=preview" target="_new">Template</a></div>
            <div><a href="http://plnkr.co/edit/68e9RwN8kvAn3iUA3yGH?p=preview" target="_new"></a></div>
          </section>
        </section>
        <section>
          <section>
            <h2>Using Services</h2>
          </section>
          <section>
            <h2>Dependency Injection</h2>
            <p class="fragment roll-in">DI puts the AngularJS Framework to work for you.</p>
            <p class="fragment roll-in">DI goes and gets the services you request so that your controllers are clearly defined and testable.</p>
          </section>
          <section>
            <h2>Injector</h2>
            <p>The injector is a service locator. There is a single injector per Angular application. The injector provides a way to look up an object instance by its name.</p>
          </section>
          <section>
            <img src="http://docs.angularjs.org/img/guide/concepts-module-injector.png" />
            <br />
            <small><a href="http://docs.angularjs.org/guide">Diagram is from AngularJs.org</a></small>
          </section>
          <section>
            <h2>$http</h2>
            <pre><code>
function MainCtrl($scope, $http) {
  $http.get('foo.json')
    .then(function(res) {
      $scope.items = res.data;
    }, function(err) {
      alert(err.message);
    });
}
            </code></pre>
            <div><a href="http://plnkr.co/edit/VlaSHAmktO36eSRvLYCb?p=preview" target="_new">Example</a></div>
          </section>
        </section>
        <section>
          <section>
            <h2>Modules</h2>
          </section>
          <section>
            <h2>Application Module</h2>
            <pre><code>
  angular.module('App', []);
            </code></pre>
            <p>Calling the module method, with two parameters, initializes the module.</p>
            <pre><code>
  var app = angular.module('App');
            </code></pre>
            <p>Calling the module method, with one parameter, returns the named module.</p>
          </section>
          <section>
            <h2>Including Modules</h2>
            <pre><code>
  angular.module('App', ['ngRoute']);
            </code></pre>
            <p>In the second parameter you can include an array of modules you would like to add to your app module.</p>
          </section>
          <section>
            <h2>Application Structure</h2>
            <div><a href="http://plnkr.co/edit/nVFqZcGxii4ebNYPg5ft?p=preview" target="_new">Basic</a></div>
          </section>
          <section>
            <h2>Routing</h2>
            <pre><code>
  angular.module('App', ['ngRoute'])
    .config(function($routeProvider) {
      $routeProvider
        .when('/', {})
        .when('/new', {})
        .when('/:id', {});
    });
            </code></pre>
          </section>
          <section>
            <a href="http://plnkr.co/edit/nVFqZcGxii4ebNYPg5ft?p=preview" target="_new">Routing Example</a>
          </section>
          <section>
            <h2>Exercise</h2>
            <p>Build A Simple Link Service CRUD Style</p>
          </section>
        </section>
        <section>
          <section>
            <h2>Forms and Directives</h2>
          </section>
          <section>
            <h2>Forms</h2>
            <p data-height="268" data-theme-id="0" data-slug-hash="vdKpA" data-user="twilson63" data-default-tab="html" class='codepen'>See the Pen <a href='http://codepen.io/twilson63/pen/vdKpA'>vdKpA</a> by Tom Wilson (<a href='http://codepen.io/twilson63'>@twilson63</a>) on <a href='http://codepen.io'>CodePen</a></p>
            <script async src="http://codepen.io/assets/embed/ei.js"></script>
          </section>
          <section>
            <h2>CSS Classes</h2>
            <p>To allow styling of form as well as controls, ngModel add these CSS classes:</p>

            <ul>
              <li>ng-valid</li>
              <li>ng-invalid</li>
              <li>ng-pristine</li>
              <li>ng-dirty</li>
            <p>The following example uses the CSS to display validity of each form control. In the example both user.name and user.email are required, but are rendered with red background only when they are dirty. This ensures that the user is not distracted with an error until after interacting with the control, and failing to satisfy its validity.</p>
          </section>
          <section>
            <p data-height="468" data-theme-id="0" data-slug-hash="FEwLD" data-user="twilson63" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/twilson63/pen/FEwLD'>FEwLD</a> by Tom Wilson (<a href='http://codepen.io/twilson63'>@twilson63</a>) on <a href='http://codepen.io'>CodePen</a></p>
            <script async src="http://codepen.io/assets/embed/ei.js"></script>
          </section>
          <section>
            <h2>Binding</h2>
            <p>A form is an instance of FormController. The form instance can optionally be published into the scope using the name attribute. Similarly, control is an instance of NgModelController. The control instance can similarly be published into the form instance using the name attribute. This implies that the internal state of both the form and the control is available for binding in the view using the standard binding primitives.</p>
          </section>
          <section>
            <p data-height="468" data-theme-id="0" data-slug-hash="ibGIe" data-user="twilson63" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/twilson63/pen/ibGIe'>ibGIe</a> by Tom Wilson (<a href='http://codepen.io/twilson63'>@twilson63</a>) on <a href='http://codepen.io'>CodePen</a></p>
            <script async src="http://codepen.io/assets/embed/ei.js"></script>
          </section>
          <section>
            <h2>Custom Validation</h2>
            <p>Angular provides basic implementation for most common html5 input types: (text, number, url, email, radio, checkbox), as well as some directives for validation (required, pattern, minlength, maxlength, min, max).</p>
            <p>Defining your own validator can be done by defining your own directive which adds a custom validation function to the ngModel controller.</p>
          </section>
          <section>
            <p data-height="468" data-theme-id="0" data-slug-hash="fCurb" data-user="twilson63" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/twilson63/pen/fCurb'>fCurb</a> by Tom Wilson (<a href='http://codepen.io/twilson63'>@twilson63</a>) on <a href='http://codepen.io'>CodePen</a></p>
            <script async src="http://codepen.io/assets/embed/ei.js"></script>
          </section>
          <section>
            <h2>Custom Form Control</h2>
            <p data-height="468" data-theme-id="0" data-slug-hash="DkorI" data-user="twilson63" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/twilson63/pen/DkorI'>DkorI</a> by Tom Wilson (<a href='http://codepen.io/twilson63'>@twilson63</a>) on <a href='http://codepen.io'>CodePen</a></p>
            <script async src="http://codepen.io/assets/embed/ei.js"></script>
          </section>
        </section>
        <section>
          <section>
            <h2>Custom Directives</h2>
          </section>
          <section>
            <h3>Directive Definition Object</h3>
          </section>
          <section>
            <h3>Execution</h3>
            <ul>
              <li>Compile</li>
              <li>Link</li>
            </ul>
          </section>
          <section>
            <h3>restrict</h3>
            <p>String of subset of EACM which restricts the directive to a specific directive declaration style. If omitted, the default (attributes only) is used.</p>
            <pre><code>
E - Element name: &lt;my-directive&gt;&lt;/my-directive&gt;
A - Attribute (default): &lt;div my-directive=&quot;exp&quot;&gt; &lt;/div&gt;
C - Class: &lt;div class=&quot;my-directive: exp;&quot;&gt;&lt;/div&gt;
M - Comment: &lt;!-- directive: my-directive exp --&gt;&lt;/p&gt;

            </code></pre>
          </section>
          <section>
            <h3>replace</h3>
            <p>if set to true then the template will replace the current element, rather than append the template to the element.</p>
          </section>
          <section>
            <h3>transclude</h3>
            <p>compile the content of the element and make it available to the directive. Typically used with ngTransclude. The advantage of transclusion is that the linking function receives a transclusion function which is pre-bound to the correct scope.</p>
          </section>
          <section>
            <h3>Demo</h3>
            <p data-height="468" data-theme-id="0" data-slug-hash="tkfjC" data-user="twilson63" data-default-tab="js" class='codepen'>See the Pen <a href='http://codepen.io/twilson63/pen/tkfjC'>tkfjC</a> by Tom Wilson (<a href='http://codepen.io/twilson63'>@twilson63</a>) on <a href='http://codepen.io'>CodePen</a></p>
            <script async src="http://codepen.io/assets/embed/ei.js"></script>
          </section>
        </section>
        <section>
          <section>
            <h2>Testing</h2>
            <ul>
              <li>Setup</li>
              <li>Controllers</li>
              <li>Filters</li>
              <li>Directives</li>
            </ul>
          </section>
          <section>
            <h3>Setup</h3>
            <a href="http://karma-runner.github.io/0.8/index.html">Karma-runner</a>
            <pre><code>
npm install karma -g
karma init
            </code></pre>
          </section>
          <section>
            <h3>Setup - using Grunt</h3>
            <pre><code>
npm install grunt-karma --save-dev
# open GruntFile
# add tasks
grunt.loadNpmTasks('grunt-karma');
# add Config
karma: {
  unit: {
    options: {
      framework: ['jasmine'],
      files: ['test/**/*.js'],
      runnerPort: 9999,
      singleRun: true,
      browsers: ['PhantomJS']
    }
  }
}
          </code></pre>
          </section>
          <section>
            <h3>Controllers</h3>
            <p data-height="468" data-theme-id="0" data-slug-hash="tqegm" data-user="twilson63" data-default-tab="js" class='codepen'>See the Pen <a href='http://codepen.io/twilson63/pen/tqegm'>tqegm</a> by Tom Wilson (<a href='http://codepen.io/twilson63'>@twilson63</a>) on <a href='http://codepen.io'>CodePen</a></p>
            <script async src="http://codepen.io/assets/embed/ei.js"></script>
          </section>
          <section>
            <h3>Filters</h3>
            <p data-height="468" data-theme-id="0" data-slug-hash="DGgte" data-user="twilson63" data-default-tab="js" class='codepen'>See the Pen <a href='http://codepen.io/twilson63/pen/DGgte'>DGgte</a> by Tom Wilson (<a href='http://codepen.io/twilson63'>@twilson63</a>) on <a href='http://codepen.io'>CodePen</a></p>
            <script async src="http://codepen.io/assets/embed/ei.js"></script>          
            </section>
          <section>
            <h3>Directives</h3>
            <a href="http://plnkr.co/edit/oTuRbYTPt8RyybUzk5ND?p=preview">Plnkr Example</a>
            <br />
            <small>Example from <a href="https://github.com/blesh">https://github.com/blesh</a></small>
          </section>
          <section>
            <a href="#">Exercise</a>
          </section>
        </section>
        <section>
          <section>
            <h2>End to End Testing</h2>
            <h3>Protractor</h3>
            <a href="https://github.com/angular/protractor">Github</a>
          </section>
        </section>
        <section>
          <section>
            <h2>Scope</h2>
          </section>
          <section>
            <h3>Scope</h3>
            <p data-height="368" data-theme-id="0" data-slug-hash="IhDlw" data-user="twilson63" data-default-tab="html" class='codepen'>See the Pen <a href='http://codepen.io/twilson63/pen/IhDlw'>IhDlw</a> by Tom Wilson (<a href='http://codepen.io/twilson63'>@twilson63</a>) on <a href='http://codepen.io'>CodePen</a></p>
            <script async src="http://codepen.io/assets/embed/ei.js"></script>
          </section>
          <section>
            <h3>Scope</h3>
            <img style="height: 75%;width:75%;" src="http://docs.angularjs.org/img/guide/concepts-scope.png" />
            <br />
            <small><a href="http://docs.angularjs.org/guide">Diagram is from AngularJs.org</a></small>
          </section>
          <section>
            <h2>Emitting Events</h2>
            <ul>
              <li>$on</li>
              <li>$broadcast</li>
              <li>$emit</li>
            </ul>
          </section>
          <section>
            <h2>$apply</h2>
            <p>$apply() is used to execute an expression in angular from outside of the angular framework. (For example from browser DOM events, setTimeout, XHR or third party libraries). Because we are calling into the angular framework we need to perform proper scope life cycle of exception handling, executing watches.</p>
          </section>
          <section>
            <h2>$watch</h2>
            <p>Registers a listener callback to be executed whenever the watchExpression changes.</p>
          </section>
          <section>
            <h2>$eval</h2>
            <p>Executes the expression on the current scope and returns the result. Any exceptions in the expression are propagated (uncaught). This is useful when evaluating Angular expressions.</p>
          </section>
        </section>
        <section>
          <section>
            <h3>Model and View</h3>
          </section>
          <section>
            <h3>Model</h3>
            <img style="height: 75%;width: 75%" src="http://docs.angularjs.org/img/guide/concepts-model.png" />
            <br />
            <small><a href="http://docs.angularjs.org/guide">Diagram is from AngularJs.org</a></small>
          </section>
          <section>
            <h3>View</h3>
            <img style="height: 75%;width: 75%" src="http://docs.angularjs.org/img/guide/concepts-view.png" />
            <br />
            <small><a href="http://docs.angularjs.org/guide">Diagram is from AngularJs.org</a></small>
          </section>
          <section>
            <h3>HTML Templates</h3>
            <p>Angular is different, since its template system works on DOM objects not on strings. The template is still written in an HTML string, but it is HTML (not HTML with template sprinkled in.) The browser parses the HTML into the DOM, and the DOM becomes the input to the template engine known as the compiler. The compiler looks for directives which in turn set up watches on the model. The result is a continuously updating view which does not need template model re-merging. Your model becomes the single source-of-truth for your view.</p>
          </section>
          <section>
            <p data-height="368" data-theme-id="0" data-slug-hash="yGfEi" data-user="twilson63" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/twilson63/pen/yGfEi'>yGfEi</a> by Tom Wilson (<a href='http://codepen.io/twilson63'>@twilson63</a>) on <a href='http://codepen.io'>CodePen</a></p>
            <script async src="http://codepen.io/assets/embed/ei.js"></script>
          </section>
          <section>
            <h2>Expressions</h2>
            <p data-height="268" data-theme-id="0" data-slug-hash="mdgIo" data-user="twilson63" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/twilson63/pen/mdgIo'>mdgIo</a> by Tom Wilson (<a href='http://codepen.io/twilson63'>@twilson63</a>) on <a href='http://codepen.io'>CodePen</a></p>
            <script async src="http://codepen.io/assets/embed/ei.js"></script>
          </section>
          <section>
            <p data-height="368" data-theme-id="0" data-slug-hash="fxIAG" data-user="twilson63" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/twilson63/pen/fxIAG'>fxIAG</a> by Tom Wilson (<a href='http://codepen.io/twilson63'>@twilson63</a>) on <a href='http://codepen.io'>CodePen</a></p>
            <script async src="http://codepen.io/assets/embed/ei.js"></script>
          </section>
          <section>
            <h3>jqlite and angular.element</h3>
            <a href="http://docs.angularjs.org/api/angular.element">http://docs.angularjs.org/api/angular.element</a>
          </section>
        </section>
        <section>
          <section>
            <h2>Animations</h2>
            <ul>
              <li>ngAnimate Module</li>
            </ul>
          </section>
          <section>
            <h3>ngRepeat</h3>
            <p data-height="368" data-theme-id="0" data-slug-hash="zGgxH" data-user="twilson63" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/twilson63/pen/zGgxH'>zGgxH</a> by Tom Wilson (<a href='http://codepen.io/twilson63'>@twilson63</a>) on <a href='http://codepen.io'>CodePen</a></p>
            <script async src="http://codepen.io/assets/embed/ei.js"></script>
          </section>
          <section>
            <h3>ngView</h3>
            <p data-height="468" data-theme-id="0" data-slug-hash="EeLxg" data-user="twilson63" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/twilson63/pen/EeLxg'>EeLxg</a> by Tom Wilson (<a href='http://codepen.io/twilson63'>@twilson63</a>) on <a href='http://codepen.io'>CodePen</a></p>
            <script async src="http://codepen.io/assets/embed/ei.js"></script>
          </section>
          <section>
            <h3>Animate.css</h3>
            <a href="http://daneden.me/animate/">http://daneden.me/animate/</a>
          </section>
          <section>
            <h3>ngClass</h3>
            <p data-height="368" data-theme-id="0" data-slug-hash="qjCEs" data-user="twilson63" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/twilson63/pen/qjCEs'>qjCEs</a> by Tom Wilson (<a href='http://codepen.io/twilson63'>@twilson63</a>) on <a href='http://codepen.io'>CodePen</a></p>
            <script async src="http://codepen.io/assets/embed/ei.js"></script>
          </section>
          <section>
            <h3>Custom Directive</h3>
            <p data-height="368" data-theme-id="0" data-slug-hash="rfwCv" data-user="twilson63" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/twilson63/pen/rfwCv'>rfwCv</a> by Tom Wilson (<a href='http://codepen.io/twilson63'>@twilson63</a>) on <a href='http://codepen.io'>CodePen</a></p>
            <script async src="http://codepen.io/assets/embed/ei.js"></script>
          </section>
        </section>
        <section>
          <section>
            <h3>Bootstrap UI</h3>
          </section>
          <section>
            <a href="http://angular-ui.github.io/bootstrap/">http://angular-ui.github.io/bootstrap/</a>
          </section>
        </section>
        <section>
          <section>
            <h3>Touch</h3>
          </section>
          <section>
            <pre><code>
&lt;script src=&quot;angular-touch.js&quot;&gt;&lt;/script&gt;
            </code></pre>
            <p data-height="368" data-theme-id="0" data-slug-hash="wdenC" data-user="twilson63" data-default-tab="js" class='codepen'>See the Pen <a href='http://codepen.io/twilson63/pen/wdenC'>wdenC</a> by Tom Wilson (<a href='http://codepen.io/twilson63'>@twilson63</a>) on <a href='http://codepen.io'>CodePen</a></p>
            <script async src="http://codepen.io/assets/embed/ei.js"></script>
          </section>

        </section>
        <section>
          <section>
            <h2>ToDo App</h2>
          </section>
          <section>
            <a href="http://twilson63.github.io/ngTodoPouch/">http://twilson63.github.io/ngTodoPouch/</a>
          </section>
        </section>
        <section>
          <section>
            <h2>Lab</h2>
          </section>
          <section>
            <h2>Todo List - List Headlines</h2>
          </section>
          <section>
            <h2>Create Todo - Create New Headline</h2>
          </section>
          <section>
            <h2>Mark Complete - Vote Up/Down Headline</h2>
          </section>
          <section>
            <h2>Delete Todo - Delete Headline</h2>
          </section>
          <section>
            <h2>Sort Todos - Sort Headlines</h2>
          </section>
        </section>
        <section>
          <section>
            <h2>Survey</h2>
            <a href="http://fluidsurveys.com/surveys/katie-Zh/professional-web-development-survey/?TEST_DATA=">Click Here</a>
          </section>
        </section>
      </div>
    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>

  </body>
</html>
